<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id='mapid' style=" position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden;"></div>
</body>
</html>




<!--Optional (only if you need plaback control)-->
<link rel="stylesheet" href=".\node_modules\leaflet-plugin-trackplayback\dist\control.playback.css">

<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!--Optional (only if you need plaback control)-->
<script src="..\node_modules\leaflet-plugin-trackplayback\dist\control.trackplayback.js"></script>

<script src="..\node_modules\leaflet-plugin-trackplayback\dist\leaflet.trackplayback.js"></script>

<script language="javascript">
      
    $.getJSON('playback.json', function(jsonData) {

    let data = jsonData;
    const Options = {
        // trackPoint options
        trackPointOptions: {
          // whether draw track point
          isDraw: true,
          // whether use canvas to draw it, if false, use leaflet api `L.circleMarker`
          useCanvas: false,
          stroke: false,
          color: '#ef0300',
          fill: true,
          fillColor: '#ef0300',
          opacity: 0.3,
          radius: 4
        }
    }

    // create map and add baseLayer
    const map = L.map('mapid').setView([-41.1715, 174.8248], 15);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 22,
      maxNativeZoom: 19
    }).addTo(map);

    const trackplayback = L.trackplayback(data, map, Options);
    const trackplaybackControl = L.trackplaybackcontrol(trackplayback);
    //console.log(trackplayback.getTime())
    trackplaybackControl.addTo(map);
      
    
    });
 </script>
